@import 'normalize';
@import 'header';
@import 'hamburger';
@import 'dishes';
@import 'additional';
@import 'footer';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

ul,
li {
    list-style: none;
}

body {
    font-family: 'Bitter', serif;
    font-size: 16px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}